<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"> <!-- Acts as a home button -->
            <img src="~/images/icon.png" width="30" height="30" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MainNavBar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Top nav bar. Will move to a collapsable menu on small screens-->
        <div class="collapse navbar-collapse" id="MainNavBar">

            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Ticket">Tickets</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <header class="jumbotron">
            <h1 class="center">@ViewBag.Title</h1>
        </header>

        @RenderBody()

    </div>
</body>
</html>
