@model Ticket
@{
    ViewBag.Title = "Delete Ticket";
    // Delete confirmation
}

<h2>Confirm Deletion</h2>

<h3>Description:@Model.ShortDescription, Store#: @Model.StoreId</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TicketId" />
    <button type="submit" class="btn btn-primary">Delete</button> <a asp-controller="Home" asp-action="Ticket" class="btn btn-primary">Cancel</a>
</form>
