@model Ticket <!--Still needs changes once model is created-->
@{
    string title = ViewBag.Action + " Ticket";
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Discription:</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Severity">PointId:</label>
        <select asp-for="Severity" class="form-control" asp-items="@(new SelectList(ViewBag.Points, "Severity", "Value"))">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="StatusId">StatusId:</label>
        <select asp-for="StatusId" class="form-control" asp-items="@(new SelectList(ViewBag.Statuses, "StatusId", "Name"))">
            <option value=""></option>
        </select>
    </div>

    <input type="hidden" asp-for="TicketId" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Ticket" class="btn btn-primary">Cancel</a>
</form>

